// Colors
$back-ground: #f1f1f5;
$color-dark-grey: #696974;

// Spacing
$xxs: 4px;
$xs: 8px;
$sm: 12px;
$md: 16px;
$lg: 20px;

// Backgrounds
$back-ground-flat: $back-ground;
$back-ground-concave: linear-gradient(145deg, #d9d9dd, #ffffff);
$back-ground-convex: linear-gradient(145deg, #ffffff, #d9d9dd);
$back-ground-pressed: $back-ground;

// Shadows
$box-shadow-flat: 8px 8px 16px #cdcdd0, -8px -8px 16px #ffffff;
$box-shadow-concave: 8px 8px 16px #cdcdd0, -8px -8px 16px #ffffff;
$box-shadow-convex: 8px 8px 16px #cdcdd0, -8px -8px 16px #ffffff;
$box-shadow-pressed: inset 8px 8px 16px #cdcdd0, inset -8px -8px 16px #ffffff;
